{% extends "base.html" %}
{% block content %}
<h2>Network Visualization</h2>

<div id="network" style="width: 100%; height: 600px; border: 1px solid #ccc;"></div>

<!-- Load Vis Network from a CDN -->
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script>
  const nodesData = {{ nodes|tojson }};
  const edgesData = {{ edges|tojson }};

  const nodes = new vis.DataSet(nodesData);
  const edges = new vis.DataSet(edgesData);

  const container = document.getElementById('network');
  const data = { nodes: nodes, edges: edges };

  const options = {
    interaction: {
      hover: true,
      dragNodes: true,
      dragView: true,
      zoomView: true
    },
    edges: {
      // Add an arrow pointing "to" the target node
      arrows: {
        to: { enabled: true, scaleFactor: 1 }
      },
      font: { align: 'horizontal' }
    },
    physics: {
      enabled: true,
      solver: 'forceAtlas2Based',
      stabilization: { iterations: 200 }
    }
  };

  const network = new vis.Network(container, data, options);

  network.on("click", function (params) {
    if (params.nodes.length > 0) {
      console.log("Clicked node:", params.nodes[0]);
    }
    if (params.edges.length > 0) {
      console.log("Clicked edge:", params.edges[0]);
    }
  });
</script>
{% endblock %}
